{% extends "_layouts/cp" %}
{% hook 'formBuilder.prepTemplate' %}

{% set title = "Templates"|t %}
{% set selectedSubnavItem = "templates" %}
{% set bodyClass = 'formbuilder fb-templates' %}

{% set templates = craft.formBuilder.getAllTemplates() %}

{% block pageHeader %}
    {% include 'formbuilder/_includes/_header' ignore missing with { title: title, createTemplate: true } %}
{% endblock %}

{% block main %}

    {% if templates|length %}
        <section class="templates-container templates-table">

            <table class="data fullwidth formbuilder-table" id="formbuilder-templates">
                <thead>
                <tr>
                    <th scope="col" class="thin"></th>
                    <th scope="col" class="col-left">{{ "Name"|t }}</th>
                    <th scope="col">{{ "Updated"|t }}</th>
                    <th scope="col"></th>
                </tr>
                </thead>

                <tbody>
                {% for template in templates %}
                    <tr id="formbuilder-template-{{ template.id }}" data-id="{{ template.id }}" data-name="{{ template.name }}">
                        <td class="dragsort"><a class="move icon" title="{{ 'Reorder'|t }}" role="button">
                                {% include 'formbuilder/_includes/icons/drag' %}
                            </a></td>
                        <td data-title="{{ "Name"|t }}" class="name col-left"><a href="{{ url('formbuilder/templates/' ~ template.id ~ '/edit') }}">{{ template.name }}</a></td>
                        <td data-title="{{ "Updated"|t }}">{{ template.dateUpdated |date('m/d/Y')}}</td>
                        <td class="template-actions col-center" data-template-id="{{ template.id }}" data-template-handle="{{ template.handle }}" data-template-name="{{ template.name }}">
                            <a class="delete delete-icon" data-id="{{ template.id }}" data-name="{{ template.name }}"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    {% else %}
        <div class="no-templates" id="notemplates">
            <span class="title">{{ "Hello! You don't have any templates yet."|t }}</span>
        </div>
    {% endif %}

    {% includejs %}
        var templateTable = new Craft.AdminTable({
            tableSelector: '#formbuilder-templates',
            noObjectsSelector: '#notemplates',
            deleteAction: 'formBuilderEmailNotifications/template/delete',
            sortable: true,
            reorderAction: 'formBuilder/template/reorder',
            reorderSuccessMessage: '{{ "Template reordered"|t }}',
            reorderFailMessage: '{{ "Couldn’t reorder templates"|t }}',
        });
    {% endincludejs %}

{% endblock %}
