{% set headerLogo = template.content.header.logo.asset is defined ? craft.formBuilder.getAssetsById(template.content.header.logo.asset) %}
{% set headerLogoPosition = template.content.header.logo.position is defined ? template.content.header.logo.position : 'left' %}

{% set headerCopy = template.content.header.copy is defined ? template.content.header.copy %}
{% set bodyCopy = template.content.body.copy is defined ? template.content.body.copy %}
{% set footerCopy = template.content.footer.copy is defined ? template.content.footer.copy %}

{% set backgroundColor = template.styles.background.color is defined ? template.styles.background.color : '#ffffff' %}
{% set borderColor = template.styles.border.color is defined ? template.styles.border.color : '#E9EFF4' %}
{% set borderWidth = template.styles.border.width is defined ? template.styles.border.width ~ 'px' : '1px' %}
{% set borderRadius = template.styles.border.radius is defined ? template.styles.border.radius ~ 'px' : '5px' %}
{% set containerPadding = template.styles.container.padding is defined ? template.styles.container.padding ~ 'px' : '60px' %}

<div class="template-container" id="template-branded-html" style="
border-color: {{ borderColor }};
border-width: {{ borderWidth }};
border-radius: {{ borderRadius }};
padding: {{ containerPadding }};
background-color: {{ backgroundColor }};">

    <span class="template-logo" style="text-align: {{ headerLogoPosition }};">
        {% if headerLogo %}
        <img src="{{ url(headerLogo[0].url) }}">
        {% endif %}
    </span>

    {% if headerCopy %}
        <span class="template-header content-header-copy">{{ headerCopy |raw }}</span>
    {% else %}
        <span class="template-header content-header-copy hidden">{{ "Thank you for reaching out." |t }}</span>
    {% endif %}
    
    {% if bodyCopy %}
        <span class="template-body content-body-copy">{{ bodyCopy |raw }}</span>
    {% else %}
        <span class="template-body content-body-copy hidden">{{ "If you would like more information please contact us." |t }}</span>
    {% endif %}
    
    <code class="sample">{{ "Submission data will goes here. (optional)" |t }}</code>

    {% if footerCopy %}
        <span class="template-footer content-footer-copy">{{ footerCopy |raw }}</span>
    {% else %}
        <span class="template-footer content-footer-copy hidden">{{ "Have a good day!" |t }}</span>
    {% endif %}
    
</div>